body {
    background-color: #232323;
    margin: 0px;
}

button {
    border: none;
    background: none;
    height: 100%;
    outline: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: inherit;
    color: steelblue;
    letter-spacing: 0.5px;
}

button:hover {
    background-color: steelblue;
    color: white;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

#options {
    background-color: white;
    height: 30px;
    text-align: center;
}

#rgb_header {
    color: white;
    background-color: steelblue;
    margin: 0px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 15px 0px;

    transition: background ease-in-out 0.35s;
    -webkit-transition: background ease-in-out 0.35s;
    -moz-transition: background ease-in-out 0.35s;
    
}

#displayColor {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 25%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: inherit;
    /* text-transform: uppercase; */
}

.header {
    text-align: center;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin:1.66%;
    border-radius: 25%;
    transition: background ease-out 0.35s;
    -webkit-transition: background ease-out 0.35s;
    -moz-transition: background ease-out 0.35s;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px 0px;
}

.selected {
    background-color: steelblue;
    color: white;
}

.hide_block {
    display: none;
}